<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>台灣的房價圖表 Taiwan house data </title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <style>
  .flex-container {
    display: flex;
  }
  </style>
</head>

<body>

  <!-- component template -->
  <!-- https://github.com/vue-bulma/vue-admin/blob/master/client/views/charts/Plotly.vue#L19:16     -->
  <!-- https://vuejs.org/v2/guide/components.html -->
  <script type="text/x-template" id="sub-template">
    <div>
      Feel happy to use this
      <div ref="pie2">
      </div>
    </div>
    <!-- <table v-if="filteredData.length">
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
  <p v-else>No matches found.</p> -->
  </script>
  <!-- <div id="app">
      <p>{{ message }}</p>
    </div>
    <script language="JavaScript">
    new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue.js!'
      }
    }) -->
  <div id="app">
    <!-- <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
    </span> -->
    <div>
      <sub-component>
      </sub-component>
    </div>
    <div class="flex-container">
      <div>
        <select v-model="selectedHouseType">
        <!-- <option disabled value="">Please select one</option> -->
        <!-- <option>A</option>
        <option>B</option> -->

        <option v-for="option in houseTypeOptions" v-bind:value="option.value">
          {{ option.text }}
        </option>

        <!-- <option>C</option> -->
      </select>
      </div>
      <!-- <span>Selected: {{ selected }}</span> -->

      <div>
        <select v-model="selectedCity">
        <option v-for="city in cityList" v-bind:value="city.code">
          {{ city.name }}
        </option>
      </select>
      </div>
    </div>



    <div ref="pie">
    </div>
  </div>
  <!-- http://blog.tonycube.com/2017/04/vuejs-8-lifecycle.html -->
  <script language="JavaScript">
    Vue.component('sub-component', {
      // The todo-item component now accepts a
      // "prop", which is like a custom attribute.
      // This prop is called todo.
      // props: ['todo'],
      // template: '<li>{{ todo.text }}</li>'
      //      template: '<div>{{ "hello"}}</div>'
      template: '#sub-template',
    })
    var app = new Vue({
      el: '#app',
      data: {
        //selected: "B",//"不動產", //A , 預售屋 //B

        selectedHouseType: 'A',
        houseTypeOptions: [{
            text: '不動產',
            value: 'A'
          },
          {
            text: "預售屋",
            value: 'B'
          },
          {
            text: "不動產+預售屋(平均)",
            value: 'C'
          },
        ],

        // message: 'You loaded this page on ' + new Date().toLocaleString(),
        selectedCity: 'F',
        cityList: [{
            code: "C",
            name: "基隆市"
          },
          {
            code: "A",
            name: "臺北市"
          },
          {
            code: "F",
            name: "新北市"
          },
          {
            code: "H",
            name: "桃園市"
          },
          {
            code: "O",
            name: "新竹市"
          },
          {
            code: "J",
            name: "新竹縣"
          },
          {
            code: "K",
            name: "苗栗縣"
          },
          {
            code: "B",
            name: "臺中市"
          },
          {
            code: "M",
            name: "南投縣"
          },
          {
            code: "N",
            name: "彰化縣"
          },
          {
            code: "P",
            name: "雲林縣"
          },
          {
            code: "I",
            name: "嘉義市"
          },
          {
            code: "Q",
            name: "嘉義縣"
          },
          {
            code: "D",
            name: "臺南市"
          },
          {
            code: "E",
            name: "高雄市"
          },
          {
            code: "T",
            name: "屏東縣"
          }, //,它的A, ios讀不到!!
          {
            code: "G",
            name: "宜蘭縣"
          },
          {
            code: "U",
            name: "花蓮縣"
          },
          {
            code: "V",
            name: "臺東縣"
          },
          {
            code: "X",
            name: "澎湖縣"
          },
          {
            code: "W",
            name: "金門縣"
          },
          {
            code: "Z",
            name: "連江縣"
          }
        ],

        selected: '',
        data1: {
          x: [1, 2, 3, 4, 5],
          y: [1, 2, 4, 8, 16]
        },
        data2: {
          x: [5, 4, 3, 2, 1],
          y: [1, 2, 4, 8, 16]
        },
      },

      //called before "beforeUpdate"
      watch: {
        selectedHouseType: function(val, oldVal) {
          console.log('new selected: %s, old: %s', val, oldVal)
          if (val !== oldVal) {
            //redraw Plotly
            // if (this.selected == "B") {
            //   console.log("try to draw data2");
            //
            //   // relayout: use the original data, just change layout
            //   // Plotly.relayout(this.$refs.pie, [this.data2]);
            //   // Plotly.update(this.$refs.pie, [this.data2]);
            //   console.log("data2:", this.data2);
            //
            //   //FIXIT:
            //   // somehow .update does not effect https://plot.ly/javascript/plotlyjs-function-reference/#plotlyupdate
            //   // so use newPlot
            //   Plotly.newPlot(this.$refs.pie, [this.data2]);
            // }
            this.redrawPlotly();
          }
        },

        selectedCity: function(val, oldVal) {
          console.log('new selected: %s, old: %s', val, oldVal)
          if (val !== oldVal) {
            this.redrawPlotly();
          }
        }
      },

      // or use watch
      beforeUpdate: function() {
        console.log("before update");
      },

      methods: {
        redrawPlotly: function() {
          const x_list = [];
          const y_list = [];
          let cityName = '';

          const keys = Object.keys(this.houseData);
          for (const quarter of keys) {

            // S1 -> 0.125
            // S2 -> 0.375
            // S3 -> 0.625,
            // S4 -> 0.875

            // change 2017S3 -> 2017.

            // array
            const quarterData = this.houseData[quarter];
            for (let city of quarterData) {
                console.log("city:%s;target:%s", city.code, this.selectedCity)
                if (city.code == this.selectedCity ) {

                  cityName = city.name;
                  //bingo
                  if(quarter.indexOf("S1")>-1) {
                    x_list.push(quarter.replace("S1", ".125"));
                  }
                  else if(quarter.indexOf("S2")>-1) {
                    x_list.push(quarter.replace("S2", ".375"));
                  }
                  else if(quarter.indexOf("S3")>-1) {
                    x_list.push(quarter.replace("S3", ".625"));
                  }
                  else if(quarter.indexOf("S4")>-1) {
                    x_list.push(quarter.replace("S4", ".875"));
                  }

                  if(this.selectedHouseType == "A") {
                    y_list.push(city.priceA)
                  }
                  else if(this.selectedHouseType == "B") {
                    y_list.push(city.priceB)
                  }
                  else if(this.selectedHouseType == "C") {
                    y_list.push(city.price)
                  }
                  //
                  break;
                }
            }

          }
          // Plotly.plot(this.$refs.pie, [this.data1], {
          //   margin: {
          //     t: 0
          //   }
          // });

          // data1: {
          //   x: [1, 2, 3, 4, 5],
          //   y: [1, 2, 4, 8, 16]
          // },

        //   text: '不動產',
        //   value: 'A'
        // },
        // {
        //   text: "預售屋",
        //   value: 'B'
        // },
        // {
        //   text: "不動產+預售屋(平均)",
          if(this.selectedHouseType == "A") {
            cityName = cityName + "-" +"不動產";
          }
          else if(this.selectedHouseType == "B") {
            cityName = cityName + "-" +"預售屋";
          }
          else if(this.selectedHouseType == "C") {
            cityName = cityName + "-" +"不動產+預售屋(平均)";
          }

          const final = {x:x_list, y:y_list, name:cityName};
          console.log("final x,y list:", final);

          Plotly.plot(this.$refs.pie, [final]);
        }
      },
      // https://vuejs.org/v2/guide/components.html
      mounted: function() {

        fetch("house_price.json")
          .then(response => response.json())
          .then(json => {

            this.houseData = json;

            console.log("house price:")
            console.log(this.houseData)

            console.log("mounted sub:", this.$refs.pie);

            this.redrawPlotly();
          });



        // this.$nextTick(function() {
        // Code that will run only after the
        // entire view has been rendered
        // })
      }
    })
  </script>

  <!-- <script>
    Plotly.plot(this.$refs.pie, [{
      x: [1, 2, 3, 4, 5],
      y: [1, 2, 4, 8, 16]
    }], {
      margin: {
        t: 0
      }
    });
  </script> -->

</body>

</html>
